<!-- THIS COMMANDS WERE NOT MADE BY CHATGPT OR COPILOT  -->

<div class="search-bar d-flex flex-column p-2">
	<form class="d-flex justify-content-between w-100">
		{% csrf_token %}
		<input type="text" id="searchField" class="form-control acrylicInput rounded-0"
			placeholder="Search first name, or username" style="width: 80% !important;">
		<button class="btn acrylicButton rounded-0" type="submit">Search</button>
	</form>
	<div id="search-results" class="mt-3 border-bottom border-info-subtle"
		style="display: block; transition: all 0.3s ease-in-out !important;">
		<h5 class="text-white">Search Results</h5>
		<div class="list-group" id="search-results-list"></div>
	</div>
</div>
