/*------------Login & Register -------------------*/
.page-container {
  background: linear-gradient(to bottom, #000428, #004e92);
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: relative;
}

.page-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://wallpapercave.com/wp/wp3837751.jpg');
  opacity: 0.2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.page-container::after {
  background-color: #050716;
}

.login-container, .register-container {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: solid 1px #5d9ed68f;
  box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.308);
  width: 500px;
  height: auto;
  max-width: 90%;
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.form-control, .btn {
  border-radius: 5px;
}

.form-control {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}

.form-control:focus {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.btn-primary {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-primary:hover {
  background: rgba(255, 255, 255, 0.5);
}

.login-header, .register-header {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.additional-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.additional-options a {
  color: #fff;
  text-decoration: none;
}

.additional-options a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.fade-in {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  opacity: 1;
  transform: translateY(0);
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
