/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

*{
  /* background-color: rgba(205, 252, 252, 0.403) !important; */
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bg-primary {
  background-color: #1e2738 !important;
}
.bg-body-tertiary {
  background-color: #1e2738 !important;
}

.text-white {
  color: #fefefe !important;
}

a, h1, h2, h3, h4, h5, h6, p, span, div, button, input, label, li, ul, ol, textarea 
{
  color: #fefefe !important;
}

a:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, p:hover, span:hover, div:hover, button:hover, input:hover, label:hover, li:hover, ul:hover, ol:hover, textarea:hover{
  color: #c5c5c5 !important;
}


.bg-dark-primary {
  background-color: #2f3f5b96 !important;
  /* background-color: transparent !important; */
  backdrop-filter: blur(10px);

}

.card-header{
  border-bottom: 1px solid #4b6693 !important;
}

input, textarea, select {
  background-color: #2f3f5b !important;
  color: #fefefe !important;
  border: 1px solid #4b6693 !important;
  padding: 0.5rem !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

input:focus, textarea:focus, select:focus {
  background-color: #2f3f5b !important;
  color: #fefefe !important;
  border: 1px solid #4b6693 !important;
}

::placeholder {
  color: #FCF6F5FF !important;
}


.h-screen {
  height: 100vh !important;
}
.w-screen {
  width: 100vw !important;
}

.h-full {
  height: 100% !important;
}

.w-full {
  width: 100% !important;
}

.w-90 {
  width: 90% !important;
}

.h-90 {
  width: 90% !important;
}

canvas {
  background-color: #2e4b82 !important;
  position: absolute;
  z-index: -1;
}


@media (max-width: 400px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (max-width: 575px) {
  .hidden-md {
    display: none !important;
  }
}