/* General page layout */

/* Container holding the form */
/* Form Sections */

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.form-section {
  color: white;
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3); /* Shadow */
  backdrop-filter: blur(10px); /* Blur effect */
  margin: 0 auto;
  position: relative;
  background-color: rgba(49, 21, 69, 0.52); /* Semi-transparent dark background */
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  display: none;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateY(20px);
  opacity: 0;
}

.form-section.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* Headings and links */
h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

p {
  color: #b3b3b3;
  font-size: 1rem;
}

.toggle-link {
  color: #9878f6;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: underline;
}

/* Form Controls */
.form-control {
  background-color: rgba(47, 37, 69, 0.9); /* Dark, semi-transparent background */
  color: #ffffff;
  border: 1px solid #3f3459;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.form-control:focus {
  background-color: rgba(47, 37, 69, 1); /* Dark background on focus */
  color: #ffffff;
  border-color: #8c70f8;
  outline: none;
}

.form-control::placeholder {
  color: #9e90b2;
}

/* Buttons and Checkbox */
.checkbox-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  color: #b3b3b3;
}

.btn {
  background-color: #8c70f8;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  width: 100%;
}

.create-account-btn {
  background-color: #8c70f8;
}

.divider-text {
  color: #999;
  text-align: center;
  margin: 1.5rem 0;
}

.social-buttons {
  display: flex;
  justify-content: center;
}

.bg-intra {
  background-color: #b74bc5;
  color: white;
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-blurred-top {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}
@keyframes slide-out-blurred-top {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}


.slide-in-blurred-top {
	-webkit-animation: slide-in-blurred-top 1.2s cubic-bezier(0.075, 0.820, 0.165, 1.000) both;
	        animation: slide-in-blurred-top 1.2s cubic-bezier(0.075, 0.820, 0.165, 1.000) both;
}

.slide-out-blurred-top {
	-webkit-animation: slide-out-blurred-top 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
	        animation: slide-out-blurred-top 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}