{% load static %}

<!-- <div class="sidebar" id="sidebar"> -->
<!-- <div> -->
<!-- <div> -->
<!-- <a href="javascript:void(0)" id="nav-home" class="p-2"> -->
<!-- <img src="{% static '/svg/home.svg' %}" alt="menu" /> -->
<!-- </a> -->
<!-- </div> -->
<!-- <div> -->
<!-- <a href="javascript:void(0)" id="nav-profile" class="p-2"> -->
<!-- <img src="{% static '/svg/Set.svg' %}" alt="menu" /> -->
<!-- </a> -->
<!-- </div> -->
<!-- <div> -->
<!-- <a href="javascript:void(0)" id="nav-friends" class="p-2 relative"> -->
<!-- <div class="relative"> -->
<!-- <img src="{% static '/svg/Peo.svg' %}" alt="menu" /> -->
<!-- <span class="badge bg-danger text-white absolute badge-position">3</span> -->
<!-- </div> -->
<!-- </a> -->
<!-- </div> -->
<!-- <div> -->
<!-- <a href="javascript:void(0)" id="nav-logout" class="p-2"> -->
<!-- <img src="{% static '/svg/Log.svg' %}" alt="menu" /> -->
<!-- </a> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->

<!-- Navbar -->
<nav class="navbar navbar navbar-light">
  <div class="container-fluid px-4 py-2">
    <a class="navbar-brand" href="#">Pong</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"
      aria-controls="offcanvasMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<!-- Offcanvas Side Menu -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasMenuLabel">Menu</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" href="javascript:void(0)" id="nav-home">
          <img src="{% static '/svg/home.svg' %}" alt="menu" class="p-1" />
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" href="javascript:void(0)" id="nav-profile">
          <img src="{% static '/svg/Set.svg' %}" alt="menu" class="p-1" />
          Profile
        </a>
      </li>
      <li class="nav-item">
        <div class="relative">

          <a class="nav-link d-flex align-items-center position-relative" href="javascript:void(0)" id="nav-friends">
            <img src="{% static '/svg/Peo.svg' %}" alt="menu" class="p-1 position-relative" />
              <span class="badge bg-danger text-white"
              style="font-size: 0.7rem; transform: translate(-50%, -50%);">
              3
            </span>
            Friends
          </a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" href="javascript:void(0)" id="nav-logout">
          <img src="{% static '/svg/Log.svg' %}" alt="menu" class="p-1" />
          Logout
        </a>
      </li>
    </ul>
  </div>
</div>

<script src="{% static '/js/Menu/index.js' %}"></script>