{% load static %}

<!-- Sticky Navbar -->
<nav class="navbar py-4 p-0 w-full navbar-expand-sm navbar-dark  sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand " href="javascript:void(0)" id="nav-home">
        PONGWORLD
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNav" class="collapse navbar-collapse d-sm-flex mt-sm-2">
      <ul class="navbar-nav w-100 d-flex flex-row justify-content-center justify-content-sm-end">
        <li class="nav-item">
          <a class="nav-link mx-sm-1" href="javascript:void(0)" id="nav-home">
            <img src="{% static '/svg/Home.svg' %}" alt="Home" class="icon" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-sm-1" href="javascript:void(0)" id="nav-profile">
            <img src="{% static '/svg/Settings.svg' %}" alt="Profile" class="icon" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-sm-1 position-relative" href="javascript:void(0)" id="nav-friends">
            <img src="{% static '/svg/Chat.svg' %}" alt="menu" class="saturate" />
            <span class="badge bg-danger text-white position-absolute translate-middle" id="messagesBadge">
              3
            </span>
          </a>
        </li>
        <li class="nav-item dropdown" id="notificationsDropdown">
          <a class="nav-link mx-sm-1 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{% static '/svg/Bell.svg' %}" alt="Notifications" class="icon" />
            <span id="notificationBadge" class="badge bg-danger text-white position-absolute translate-middle">0</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="notificationsDropdown" id="notificationsMenu" style="margin-left: -10em;">
            <li><span class="dropdown-item-text">No new notifications</span></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-sm-1" href="javascript:void(0)" id="nav-game">
            <img src="{% static '/svg/Game.svg' %}" alt="Game" class="icon" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-sm-1" href="javascript:void(0)" id="nav-logout">
            <img src="{% static '/svg/Logout.svg' %}" alt="Logout" class="icon" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>

  @media (max-width: 576.98px) {
    .navbar-nav {
      display: flex !important;
      flex-direction: row !important;
      justify-content: center !important;
      align-items: center !important;
      align-content: center !important;
    }

    .nav-link {
      padding: 0.5rem 0.5rem;
    }

    .mx-sm-2 {
      margin: 0 0.5rem !important;
    }

    .mx-sm-1 {
      margin: 0 0.25rem !important;
    }
  }
  
</style>