{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <span class="text-white">Django</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="text-white">
          <img src="{% static '/svg/Menu.svg' %}" alt="menu" width="30" height="30">
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" href="#" data-url="{% url 'Home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#" data-url="{% url 'Register' %}">Register</a>
          </li>
          {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-white" href="#" data-url="{% url 'Profile' %}">Profile</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link text-white" href="#" data-url="{% url 'Login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>
