{% extends 'Base.html' %}
{% load static %}

{% block title %}HomePage{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/Home/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
{% endblock %}
{% block content %}
<div id="formsContainer" class="container mt-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <h2>Create a Lobby</h2>
                </div>
                <div class="card-body">
                    <form id="createLobbyForm" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="LobbyName" class="form-control" id="createName" placeholder="Lobby Name">
                        </div>
                        <button class="btn" type="submit">Create Lobby</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <h2>Join a Lobby</h2>
                </div>
                <div class="card-body">
                    <form id="joinLobbyForm" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="LobbyName" class="form-control" id="joinName" placeholder="Enter Lobby Name">
                        </div>
                        <button class="btn" type="submit">Join Lobby</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script type="module">
    console.log('Hello');
    const lobbyId = "{{ lobby.uuid }}";
    import  spa from "{% static 'js/Spa/Spa.js' %}";
    import { reloadWindow } from "{% static 'js/Spa/Spa.js' %}";

    // Form submissions
    document.getElementById('createLobbyForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const data = {
            'LobbyName': document.getElementById('createName').value,
        };

        fetch('/Game/api/lobby/create/', {
            method: 'POST', 
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': `{{ csrf_token }}`,
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        }).then(data => {
            spa.setTo(`/Lobby/${data.Lobby.uuid}`);
        })
        .catch(error => console.error('Error:', error));
    });

    document.getElementById('joinLobbyForm').addEventListener('submit', function(event) {
        event.preventDefault();
        console.log('attemption to join a lobby')
        const data = {
            'LobbyName': document.getElementById('joinName').value,
        };
        console.log(JSON.stringify(data));
        fetch('/Game/api/lobby/information/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json', 'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            if (data.Lobby) {
                location.reload();
            } else if (data.error) {
                alert(data.error);
            }
        })
        .catch(error => console.error('Error:', error));
    });
</script>
{% endblock %}