{% extends 'Base.html' %}
{% load static %}

{% block title %}HomePage{% endblock %}


{% block content %}
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editProfileForm">
                    <div class="mb-3">
                        <label for="first_name" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="first_name" name="first_name"
                            value="{{ user.first_name }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="last_name" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="last_name" name="last_name"
                            value="{{ user.last_name }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="profile_picture" class="form-label">Profile Picture</label>
                        <input type="file" class="form-control" id="profile_picture" name="profile_picture">
                    </div>
                    <div class="mb-3">
                        <label for="profile_banner" class="form-label">Banner Image</label>
                        <input type="file" class="form-control" id="profile_banner" name="profile_banner">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="body border-0">
    <!-- Edit Profile Modal -->

    <div class="position-relative d-flex flex-column m-auto justify-content-center align-items-center">
        <div class="banner-cover d-flex justify-content-center align-items-center bg-centered-fixed pic-filter-theme rounded-5 z-n1"
            style="width: 100%; height: 300px; background-image: url('/media/{{ user.profile_banner }}'); background-size: cover; background-position: center;">
        </div>

        <div style="width: 90%; margin: 0 auto;"
            class="d-flex flex-column flex-md-row justify-content-between align-items-center">
            <div class="d-flex flex-column flex-md-row justify-content-center z-0" style="margin-top: -2em;">
                <img src="/media/{{ user.profile_picture }}" alt="Profile Picture"
                    class="profile-picture rounded-circle m-2 me-3" style="width: 100px; height: 100px;">
                <div class="d-flex flex-column justify-content-center align-items-center align-items-md-start mt-lg-4">
                    <span class="text-white fs-4">{{ user.first_name }} {{ user.last_name }}</span>
                    <span class="text-white text-md-center fs-6">{{ user.userSocialCode }}</span>
                </div>
            </div>

            {% if can_edit %}
            <button class="btn acrylicStyle-button text-white" data-bs-toggle="modal"
                data-bs-target="#editProfileModal">
                Edit Profile
            </button>
            {% elif friend_request_status == 'accepted' %}
            <button id="removeFriendButton" class="btn acrylicStyle-button text-white">
                Remove Friend
            </button>
            {% elif friend_request_status == 'pending' %}
            <button class="btn acrylicStyle-button text-white" disabled>
                Friend Request Sent
            </button>
            {% else %}
            <button id="addFriendButton" class="btn acrylicStyle-button text-white">
                Add Friend
            </button>
            {% endif %}
        </div>

        <div class="container-lg" style="width: 90%; margin: 0 auto;">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card bg-transparent border-0 p-3">
                        <h5 class="mb-3 text-white">Completed Games</h5>
                        {% include 'ProfileComp/PlayedGames.html' %}
                    </div>

                    <div class="col-lg-4">
                        <div class="card bg-transparent border-0 p-3 text-white">
                            <h5 class="mb-3">Stats</h5>
                            <u><span><b>Matchmaking Rating:</b> <span>{{ user.MMR }}</span> </span></u>
                            <u><span><b>Highest: </b>{{ user.HigherRank }} {{ user.DateOfHigherRank|date:"M d" }}
                                </span> </u>
                            <u><span><b>Games:</b> {{ user.TotalOfGames }}</span></u>
                            <u><span><b>W/L: </b>{{ user.NumberOfWins }} / {{ user.NumberOfLosses }}</span></u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if friend_request_status == 'not_friends' or friend_request_status == 'rejected' %}
<script type="module">
    import { reloadWindow } from "{% static '/js/Spa/Spa.js' %}";
    document.getElementById('removeFriendButton').addEventListener('click', (e) => {
        e.preventDefault();
        fetch("{% url 'remove' user.userSocialCode %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            if (response.status === 200) {
                alert('Friend removed');
                reloadWindow();
            } else {
                alert('Failed to remove friend');
            }
        }).catch(error => {
            console.error('Error:', error);
        });
    });
</script>
{% else %}
<script type="module">
    import { reloadWindow } from "{% static '/js/Spa/Spa.js' %}";
    document.getElementById('editProfileForm').addEventListener('submit', function (e) {
    e.preventDefault();

    // Prepare form data
    let formData = new FormData();
    formData.append('first_name', document.getElementById('first_name').value);
    formData.append('last_name', document.getElementById('last_name').value);

    const profilePicture = document.getElementById('profile_picture').files[0];
    const profileBanner = document.getElementById('profile_banner').files[0];
    if (profilePicture) formData.append('profile_picture', profilePicture);
    if (profileBanner) formData.append('profile_banner', profileBanner);

    // Send POST request to update profile
    fetch("{% url 'update_user' %}", {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: formData
    })
        .then(response => response.json())
        .then(data => {
            if (data.message === 'User updated successfully.') {
                alert(data.message);

                // Ensure the modal is fully closed before removing the backdrop
                let modalElement = document.getElementById('editProfileModal');
                let modal = bootstrap.Modal.getInstance(modalElement);
                modal.hide();

                // Listen for when the modal is fully hidden
                modalElement.addEventListener('hidden.bs.modal', () => {
                    // Remove any lingering modal backdrop
                    document.querySelectorAll('.modal-backdrop').forEach(el => el.remove());
                    reloadWindow();
                });
            } else {
                alert(data.error || 'Failed to update profile');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred while updating the profile');
        });
});

</script>
{% endif %}

{% endblock %}