{% extends 'Base.html' %}
{% load static %}

{% block title %}HomePage{% endblock %}

{% block content %}
    
    <div class="body acrylicStyle border-0 w-100 rounded-0">
        <div class="container-lg position-relative">
            <div class="banner-cover d-flex justify-content-center align-items-center bg-centered-fixed pic-filter-theme rounded-5 z-n1"
                style="width: 100%; height: 450px; background-image: url('/media/{{ user.profile_banner }}'); background-size: cover; background-position: center;">
            </div>

            <div style="width: 90%; margin: 0 auto;"
                class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                <div class="d-flex flex-column flex-md-row justify-content-center z-0" style="margin-top: -2em;">
                    <img src="/media/{{ user.profile_picture }}" alt="Profile Picture"
                        class="profile-picture rounded-circle m-2 me-3" style="width: 100px; height: 100px;">
                    <div
                        class="d-flex flex-column justify-content-center align-items-center align-items-md-start mt-lg-4">
                        <span class="text-white fs-4">{{ user.first_name }} {{ user.last_name }}</span>
                        <span class="text-white text-md-center fs-6">{{ user.userSocialCode }}</span>
                    </div>
                </div>

                {% if can_edit %}
                <button class="btn acrylicStyle-button text-white" data-bs-toggle="modal"
                    data-bs-target="#editProfileModal">
                    Edit Profile
                </button>
                {% elif friend_request_status == 'accepted' %}
                <button id="removeFriendButton" class="btn acrylicStyle-button text-white">
                    Remove Friend
                </button>
                {% elif friend_request_status == 'pending' %}
                <button class="btn acrylicStyle-button text-white" disabled>
                    Friend Request Sent
                </button>
                {% else %}
                <button id="addFriendButton" class="btn acrylicStyle-button text-white">
                    Add Friend
                </button>
                {% endif %}
            </div>

            <div class="container-lg" style="width: 90%; margin: 0 auto;">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card bg-transparent border-0 p-3">
                            <h5 class="mb-3 text-white">Completed Games</h5>
                            {% include 'ProfileComp/PlayedGames.html' %}
                        </div>

                        <div class="col-lg-4">
                            <div class="card bg-transparent border-0 p-3 text-white">
                                <h5 class="mb-3">Stats</h5>
                                <u><span><b>Matchmaking Rating:</b> <span>{{ user.MMR }}</span> </span></u>
                                <u><span><b>Highest: </b>{{ user.HigherRank }} {{ user.DateOfHigherRank|date:"M d" }}</span></u>
                                <u><span><b>Games:</b> {{ user.TotalOfGames }}</span></u>
                                <u><span><b>W/L: </b>{{ user.NumberOfWins }} / {{ user.NumberOfLosses }}</span></u>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'ProfileComp/ModelProfile.html' %}
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script type="module" src="{% static '/js/Spa/Spa.js' %}"></script>
{% endblock %}
