{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/Profile/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Edit Profile</title>
</head>

<body class="bg-dark TranscendanceThemeBackground">
    <div class="backgroundBody"></div>

    <div id="headerMenu">
        {% include 'Components/Menu.html' %}
    </div>

    <div id="root" class="px-0 relative">
        {% include 'ProfileComp/ModelProfile.html' %}
        <div class="body acrylicStyle border-0 w-100">
            <div class="container-lg position-relative">
                <!-- Banner Cover -->
                <div class="banner-cover d-flex justify-content-center align-items-center bg-centered-fixed pic-filter-theme rounded-5 z-n1"
                    style="width: 100%; height: 450px; background-image: url('/media/{{ user.profile_banner }}'); background-size: cover; background-position: center;">
                </div>

                <!-- User Information -->
                <div style="width: 90%; margin: 0 auto;"
                    class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                    <!-- User Profile Picture -->
                    <div class="d-flex flex-column flex-md-row justify-content-center z-0" style="margin-top: -2em;">
                        <img src="/media/{{ user.profile_picture }}" alt="Profile Picture"
                            class="profile-picture rounded-circle m-2 me-3" style="width: 100px; height: 100px;">
                        <div
                            class="d-flex flex-column justify-content-center align-items-center align-items-md-start mt-lg-4">
                            <span class="text-white fs-4">{{ user.first_name }} {{ user.last_name }}</span>
                            <span class="text-white text-md-center fs-6">{{ user.userSocialCode }}</span>
                        </div>
                    </div>

                    <!-- Button to edit the profile -->
                    {% if can_edit %}
                    <button class="btn acrylicStyle-button text-white" data-bs-toggle="modal"
                        data-bs-target="#editProfileModal">
                        Edit Profile
                    </button>
                    {% elif friend_request_status == 'accepted' %}
                    <!-- Show the "Remove Friend" button if they are friends -->
                    <button id="removeFriendButton" class="btn acrylicStyle-button text-white">
                        Remove Friend
                    </button>
                    {% elif friend_request_status == 'pending' %}
                    <!-- Show the "Friend Request Sent" button if a friend request is pending -->
                    <button class="btn acrylicStyle-button text-white" disabled>
                        Friend Request Sent
                    </button>
                    {% else %}
                    <!-- Show the "Add Friend" button if they are not friends or the request was rejected -->
                    <button id="addFriendButton" class="btn acrylicStyle-button text-white">
                        Add Friend
                    </button>
                    {% endif %}
                </div>

                <div class="container-lg" style="width: 90%; margin: 0 auto;">
                    <div class="row">
                        <div class="col-lg-8">
                            <!-- Existing Completed Games Table -->
                            <div class="card bg-transparent border-0 p-3">
                                <h5 class="mb-3 text-white">Completed Games</h5>
                                {% include 'ProfileComp/PlayedGames.html' %}
                            </div>

                            <!-- Stats Column for "Rapid" -->
                            <div class="col-lg-4">
                                <div class="card bg-transparent border-0 p-3 text-white">
                                    <h5 class="mb-3">Stats</h5>
                                    <u><span><b>Matchmaking Rating:</b> <span>{{ user.MMR }}</span> </span></u>
                                    <u><span><b>Highest: </b>{{ user.HigherRank }} {{ user.DateOfHigherRank|date:"M d" }} </span> </u>
                                    <u><span><b>Games:</b> {{ user.TotalOfGames }}</span></u>
                                    <u><span><b>W/L: </b>{{ user.NumberOfWins }} / {{ user.NumberOfLosses }}</span></u>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if friend_request_status == 'not_friends' or friend_request_status == 'rejected' %}
        <script type="module">
            import { reloadWindow } from "{% static '/js/Spa/Spa.js' %}";
            document.getElementById('addFriendButton').addEventListener('click', (e) => {
                e.preventDefault();
                fetch("{% url 'send_request' %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ user_code: '{{ user.userSocialCode }}' })
                }).then(response => {
                    console.log(response);
                    if (response.status == 200) {
                        alert('Friend request sent');
                    } else {
                        alert('Failed to send friend request');
                    }
                }).catch(error => {
                    console.error('Error:', error);
                });
            });
        </script>
        {% elif friend_request_status == 'friends' %}
        <script type="module">
            // path('token/remove/<int:socialCode>/', views.remove, name='remove'),
            import { reloadWindow } from "{% static '/js/Spa/Spa.js' %}";
            document.getElementById('removeFriendButton').addEventListener('click', (e) => {
                e.preventDefault();
                fetch("{% url 'remove' user.userSocialCode %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    console.log(response);
                    if (response.status == 200) {
                        alert('Friend removed');
                        reloadWindow();
                    } else {
                        alert('Failed to remove friend');
                    }
                }).catch(error => {
                    console.error('Error:', error);
                });
            });


        </script>
        {% endif %}
    </div>

    <div id="footer"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script type="module" src="{% static '/js/Spa/Spa.js' %}"></script>
</body>

</html>