
#score-bar-wrapper
{
    color: white;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.score-player-section
{
    position: relative;
}

.player-name-label
{
    position: absolute;
    top: 50%;
    left: 17%;
}

.player-name-background
{
    width: 50%;
}

.player-score-label
{
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 2em;
}

.vs-image-wrapper
{
    position: relative;
    align-content: center;
}

.vs-image
{
    position: absolute;
    width: 90px;
    height: auto;
    top: 40%;
}