


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensure the body covers at least the viewport height */
    position: relative;
    overflow-x: hidden; /* Prevent horizontal scroll */
    background: url('https://wallpapercave.com/wp/wp3837751.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed; /* Keep background fixed while scrolling */
}

.backgroundBody {
    position: fixed; /* Fix the gradient layer so it covers the full viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Ensure it covers the full viewport */
    background: linear-gradient(to bottom, #0004285d, #004e9260); /* The gradient effect */
    z-index: -1; /* Ensure the gradient is behind the content */
    pointer-events: none; /* Allows the content to be interactable while ignoring the gradient */
}



.acrylicStyle{
    background: rgba(205, 205, 205, 0.1) !important;
    border-radius: 5px !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border: solid 1px #5d9ed68f !important;
    color: rgb(230, 230, 230) !important;
}

/* Spinner overlay */
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #004e92c5; /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Semi-transparent blur */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000000; /* Ensure it's on top of everything */
}

/* Spinner */
.spinner {
    border: 8px solid #173142; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

/* Spin animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#root {
    height: 100%;
    z-index: 2 !important;
}

#headerMenu {
    z-index: 2 !important;
}

#footer {
    z-index: 2 !important;
}



/* CSS Animation */
@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.alert {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    animation: slideInRight 0.5s forwards;
}

.alert.hide {
    animation: slideOutRight 0.5s forwards;
}






.bg-purple-neon {
    background-color: #a07ce4 !important;
}

.bg-purple-neon-light {
    background-color: #bfa3f9 !important;
}